#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-box {
  max-width: 600px;
}

.inner-box {
  border: solid blue 2px;
  border-radius: 5px;
  padding: 20px;
  background-color: aliceblue;
  margin-bottom: 15px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}